.specialParagraph {
font-family: 'Merriweather', serif;
font-size: 1.3em;
flex: 1;
}

body{
  display: flex;
  flex-direction: column;
}

.embed-container{
  position: relative;
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: relative;
  width: 100%;
}


.img-fluid{
  height: 450px;
}

.card-text{
  font-size: large;
  font-weight: 400;
  font-style:normal
}
.p-5{
  background-color: darkgray;

}

.UsernameGit{
  font-size:larger;
  font-weight: bold;
  
}

.LinkedMessage{
  font-size: larger;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px; 
  
}

.grid-item {
  text-align: center;
}

.fa-html5{
   color: #e85211;
}

.fa-css3{
  color: #3e72ea;
}

.fa-js{
  color: #eddb12;
}

.fa-node{
  color: green;
}

.fa-square-git{
  color: black;
}

.fa-bootstrap{
  color: #af45e8;
}

.skillsIcon{
  font-size: large;
  font-weight: bolder;
}

.languageStyle{
  font-style: italic;
  font-size: large;
}





